<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/style.css">

	<link rel="stylesheet" href="/css/styleme.css" />
	<link rel="stylesheet" href="/css/categories.css" />

	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:400,700%7CMontserrat:300,400,600,700">

	<link rel="stylesheet" href="/icons/fontawesome/css/fontawesome-all.min.css"><!-- FontAwesome Icons -->
	<link rel="stylesheet" href="/icons/Iconsmind__Ultimate_Pack/Line%20icons/styles.min.css">
	<!-- iconsmind.com Icons -->
	<!-- <link rel="stylesheet" href="https://cdn.plyr.io/3.5.0/plyr.css" /> -->
	<!-- <link rel="stylesheet" href="/css/plyr.css"> -->
	<!-- <script src="https://bootstrapcreative.com/wp-bc/wp-content/themes/wp-bootstrap/codepen/bootstrapcreative.js?v=7"></script><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
  <!-- Page Title Here -->
  <link rel="icon" href="img/favicon.png" type="image/png">
	<title>
		tribal play | media
	</title>
	<!-- <style>

.plyr__video-embed{height:0;padding-bottom:56.25%;border:0;left:0;position:absolute;top:0adding-bottom:240%;position:top;transform:translateY(-38.28125%)}
</style> -->

	<style>
body {margin:2rem;}

.modal-dialog {
      max-width: 800px;
      margin: 30px auto;
  }
  .Tsuccess {
  border-color: #4CAF50;
  color: green;
}
.success:hover {
  background-color: #4CAF50;
  color: white;
}
  .Tbutton {    
    background-color: transparent;
    background-repeat:no-repeat;
    cursor:pointer;
    overflow: hidden;  
	color:#16e590;   

  border: 1px solid #16e590;
  border-radius: 2px;
  color: #16e590;
  padding: 4px 8px;
  font-size: 10px;
}

.modal-body {
  position:relative;
  padding:0px;
}
.close {
  position:absolute;
  right:-30px;
  top:0;
  z-index:999;
  font-size:2rem;
  font-weight: normal;
  color:#fff;
  opacity:1;
}	</style>

</head>

<body>

	<% include partials/head %>
	<% include partials/header %>
	<% include partials/navigation-bar %>
	<main id="col-main">
		<div class="wrapper">
			<div class="row">
				<% amazingKills.forEach(function(amazingKill) { %>
				<div class="col-lg-4">
					<div class="card"
						style="background-image: url('https://cdn.tribalplay.io/movie-thrills/amazing-kills-stunts/images/<%= amazingKill.image_path %>')">
						<div style="padding-left: 30px;" class="card__content">
							<!-- for stored videos on the bucket exchange href"#player" -->


							<a class="play-button" data-toggle="modal" class="video-btn" data-src="https://www.youtube.com/embed/<%= amazingKill.trailer %>" data-target="#myModal">
								<svg version="1.1" xmlns="http://www.w3.org/2000/svg"
									xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 50 50">
									<path d="M42.7,42.7L25,50L7.3,42.7L0,25L7.3,7.3L25,0l17.7,7.3L50,25L42.7,42.7z"
										class="polygon"></path>
									<polygon points="32.5,25 21.5,31.4 21.5,18.6 "></polygon>
								</svg>
							</a>
							<div class="card__content--description">
								<h3 style="padding-right: 25px;" class="roll-up">
									<span><span>P</span><span>P</span></span>
									<span><span>l</span><span>l</span></span>
									<span><span>a</span><span>a</span></span>
									<span><span>y</span><span>y</span></span>
								</h3>
								<h6 style="letter-spacing: 0.2em; font-weight: 10; font-size: 0.8rem; padding-right: 3px;"
									class="text-reveal">
									<span>
										<span><%= amazingKill.title.toUpperCase() %></span>
										<span><%= amazingKill.runtime%> min</span>
										<span><%= amazingKill.vote_average%> min</span>
										<br>
										<button type="button" class="Tbutton Tsuccess video-btn" data-toggle="modal" data-src="https://www.youtube.com/embed/<%= amazingKill.trailer %>"frameborder="0" allow="accelerometer; picture-in-picture" allowfullscreen data-target="#myModal"> trailer </button>
									</span>
									<span>
										<span><span><%= amazingKill.title.toUpperCase() %></span></span>
										<span><span><%= amazingKill.runtime%> min </span></span>
										<span><span><%= amazingKill.vote_average%></span></span>
										<!-- <span><span type="button" data-toggle="modal"data-target="#myModal">trailer</span></span> -->
									</span>
								</h6>
							</div>
						</div>
					</div>
					<div>
						
						<!-- Modal -->
						<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
							aria-hidden="true">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
		
		
									<div class="modal-body">
		
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
										<!-- 16:9 aspect ratio -->
										<div class="embed-responsive embed-responsive-16by9">
											<iframe class="embed-responsive-item"
												src="" id="video"
												allowscriptaccess="always" allow="autoplay"></iframe>
										</div>
		
									</div>
		
								</div>
							</div>
						</div>
					</div>
	
				</div>
				<% }) %>
			 </div>
	    	<br>
			<br>
			<br>
			<br>

			<!--	<ul class="page-numbers">
				<li><a class="previous page-numbers" href="#!"><i class="fas fa-chevron-left"></i></a></li>
				<li><span class="page-numbers current">1</span></li>
				<li><a class="page-numbers" href="#!">2</a></li>
				<li><a class="page-numbers" href="#!">3</a></li>
				<li><a class="page-numbers" href="#!">4</a></li>
				<li><a class="next page-numbers" href="#!"><i class="fas fa-chevron-right"></i></a></li>
			</ul> -->
		</div>
	</main>


<script src="https://cdn.rawgit.com/JacobLett/bootstrap4-latest/master/bootstrap-4-latest.min.js"></script>
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
	<script>
		$(document).ready(function () {

			// Gets the video src from the data-src on each button

			var $videoSrc;
			$('.video-btn').click(function () {
				$videoSrc = $(this).data("src");
			});
			console.log($videoSrc);



			// when the modal is opened autoplay it  
			$('#myModal').on('shown.bs.modal', function (e) {

				// set the video src to autoplay and not to show related video. Youtube related video is like a box of chocolates... you never know what you're gonna get
				$("#video").attr('src', $videoSrc + "?autoplay=1&amp;modestbranding=1&amp;showinfo=0");
			})



			// stop playing the youtube video when I close the modal
			$('#myModal').on('hide.bs.modal', function (e) {
				// a poor man's stop video
				$("#video").attr('src', $videoSrc);
			})


			// document ready  
		});



		// Change the second argument to your options:
		// https://github.com/sampotts/plyr/#options
		const player = new Plyr('video', {captions: {active: true}});

		// Expose player so it can be used from the console
		window.player = player;

	</script>

	<% include partials/script %>

</body>

</html>