<% include partials/head %>
<% include partials/header %>
<% include partials/navigation-bar %>

		<main id="col-main">					
			<div class="flexslider progression-studios-dashboard-slider">
		      <ul class="slides">
					<li class="progression_studios_animate_left">
						<div class="progression-studios-slider-dashboard-image-background" style="background-image:url(images/demo/dashboard-slide-1.jpg);">
							<div class="progression-studios-slider-display-table">
								<div class="progression-studios-slider-vertical-align">
								
									<div class="container">
										
										<a class="progression-studios-slider-play-btn afterglow" href="#VideoLightbox-1"><i class="fas fa-play"></i></a>
										
							         <video id="VideoLightbox-1" poster="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.jpg?v1" width="960" height="540">
							             <source src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.mp4" type="video/mp4">
							             <source src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.webm" type="video/webm">
							         </video>
										
								      <div
								        class="circle-rating-pro"
								        data-value="0.86"
								        data-animation-start-value="0.86"
								        data-size="70"
								        data-thickness="6"
								        data-fill="{
								          &quot;color&quot;: &quot;#42b740&quot;
								        }"
								        data-empty-fill="#def6de"
								        data-reverse="true"
								      ><span style="color:#42b740;">8.6</span></div>
									
										<div class="progression-studios-slider-dashboard-caption-width">
											<div class="progression-studios-slider-caption-align">
												<h6>TV Series</h6>
												<ul class="progression-studios-slider-rating">
													<li>PG-13</li><li>HD</li>
												</ul>
												<h2><a href="#">Seven Days in Ibiza</a></h2>
												<ul class="progression-studios-slider-meta">
													<li>15 August, 2016 (UK)</li>
													<li>163 min.</li>
													<li>Documentary</li>
												</ul>
												<p class="progression-studios-slider-description">A sex columnist, Carrie Bradshaw, and her three friends Samantha, Charlotte 
and Miranda explore  Manhattan's dating scene, chronicling the mating habits of 
single New Yorkers.</p>
												
												<a class="btn btn-green-pro btn-slider-pro btn-shadow-pro afterglow" href="#VideoLightbox-1"><i class="fas fa-play"></i> Watch Trailer</a>
												
												
												<div class="progression-studios-slider-more-options">
													<i class="fas fa-ellipsis-h"></i>
													<ul>
														<li><a href="#!">Add to Favorites</a></li>
														<li><a href="#!">Add to Watchlist</a></li>
														<li><a href="#!">Add to Playlist</a></li>
														<li><a href="#!">Share...</a></li>
														<li><a href="#!">Write A Review</a></li>
													</ul>
												</div>
												<div class="clearfix"></div>      
									
												<h5>Starring</h5>
												<ul class="progression-studios-staring-slider">
													<li><a href="#!"><img src="images/demo/user-1.jpg" alt="Starring"></a></li>
													<li><a href="#!"><img src="images/demo/user-2.jpg" alt="Starring"></a></li>	
													<li><a href="#!"><img src="images/demo/user-3.jpg" alt="Starring"></a></li>	
													<li><a href="#!"><img src="images/demo/user-4.jpg" alt="Starring"></a></li>	
													<li><a href="#!"><img src="images/demo/user-5.jpg" alt="Starring"></a></li>	
													<li><a href="#!"><img src="images/demo/user-6.jpg" alt="Starring"></a></li>													
												</ul>
												
											</div><!-- close .progression-studios-slider-caption-align -->
										</div><!-- close .progression-studios-slider-caption-width -->
									
									</div><!-- close .container -->
								
								</div><!-- close .progression-studios-slider-vertical-align -->
							</div><!-- close .progression-studios-slider-display-table -->
						
							<div class="progression-studios-slider-mobile-background-cover"></div>
						</div><!-- close .progression-studios-slider-image-background -->
					</li>
					<li class="progression_studios_animate_in">
						<div class="progression-studios-slider-dashboard-image-background" style="background-image:url(images/demo/dashboard-slide-2.jpg);">
							<div class="progression-studios-slider-display-table">
								<div class="progression-studios-slider-vertical-align">
								
									<div class="container">
										
										<a class="progression-studios-slider-play-btn afterglow" href="#VideoLightbox-2"><i class="fas fa-play"></i></a>
										
							         <video id="VideoLightbox-2" poster="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.jpg?v1" width="960" height="540">
							             <source src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.mp4" type="video/mp4">
							             <source src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.webm" type="video/webm">
							         </video>
										
								      <div
								        class="circle-rating-pro"
								        data-value="0.82"
								        data-animation-start-value="0.82"
								        data-size="70"
								        data-thickness="6"
								        data-fill="{
								          &quot;color&quot;: &quot;#42b740&quot;
								        }"
								        data-empty-fill="#203521"
								        data-reverse="true"
								      ><span style="color:#42b740;">8.2</span></div>
									
										<div class="progression-studios-slider-dashboard-caption-width">
											<div class="progression-studios-slider-caption-align">
												<h6 class="light-fonts-pro">TV Series</h6>
												<ul class="progression-studios-slider-rating">
													<li>PG-13</li><li>HD</li>
												</ul>
												<h2 class="light-fonts-pro"><a href="#">Made In America</a></h2>
												<ul class="progression-studios-slider-meta">
													<li>15 August, 2016 (UK)</li>
													<li>163 min.</li>
													<li>Documentary</li>
												</ul>
												<p class="progression-studios-slider-description light-fonts-pro">A sex columnist, Carrie Bradshaw, and her three friends Samantha, Charlotte 
and Miranda explore  Manhattan's dating scene, chronicling the mating habits of 
single New Yorkers.</p>
												
												<a class="btn btn-green-pro btn-slider-pro afterglow" href="#VideoLightbox-2"><i class="fas fa-play"></i> Watch Trailer</a>
												<div class="progression-studios-slider-more-options">
													<i class="fas fa-ellipsis-h"></i>
													<ul>
														<li><a href="#!">Add to Favorites</a></li>
														<li><a href="#!">Add to Watchlist</a></li>
														<li><a href="#!">Add to Playlist</a></li>
														<li><a href="#!">Share...</a></li>
														<li><a href="#!">Write A Review</a></li>
													</ul>
												</div>
												<div class="clearfix"></div>
												
												<h5 class="light-fonts-pro">Starring</h5>
												<ul class="progression-studios-staring-slider">
													<li><a href="#!"><img src="images/demo/user-1.jpg" alt="Starring"></a></li>
													<li><a href="#!"><img src="images/demo/user-2.jpg" alt="Starring"></a></li>	
													<li><a href="#!"><img src="images/demo/user-3.jpg" alt="Starring"></a></li>	
													<li><a href="#!"><img src="images/demo/user-4.jpg" alt="Starring"></a></li>	
													<li><a href="#!"><img src="images/demo/user-5.jpg" alt="Starring"></a></li>	
													<li><a href="#!"><img src="images/demo/user-6.jpg" alt="Starring"></a></li>													
												</ul>
												
											</div><!-- close .progression-studios-slider-caption-align -->
										</div><!-- close .progression-studios-slider-caption-width -->
									
									</div><!-- close .container -->
								
								</div><!-- close .progression-studios-slider-vertical-align -->
							</div><!-- close .progression-studios-slider-display-table -->
						
							<div class="progression-studios-slider-mobile-background-cover-dark"></div>
						</div><!-- close .progression-studios-slider-image-background -->
					</li>				
				</ul>
			</div><!-- close .progression-studios-slider - See /js/script.js file for options -->

			<ul class="dashboard-genres-pro">
				<li>
					<img src="images/genres/drama.png" alt="Drama">
					<h6>Drama</h6>
				</li>
				<li class="active">
					<img src="images/genres/comedy.png" alt="Comedy">
					<h6>Comedy</h6>
				</li>
				<li>
					<img src="images/genres/action.png" alt="Action">
					<h6>Action</h6>
				</li>
				<li>
					<img src="images/genres/romance.png" alt="Romance">
					<h6>Romance</h6>
				</li>
				<li>
					<img src="images/genres/horror.png" alt="Horror">
					<h6>Horror</h6>
				</li>
				<li>
					<img src="images/genres/fantasy.png" alt="Fantasy">
					<h6>Fantasy</h6>
				</li>
				<li>
					<img src="images/genres/sci-fi.png" alt="Sci-Fi">
					<h6>Sci-Fi</h6>
				</li>
				<li>
					<img src="images/genres/thriller.png" alt="Thriller">
					<h6>Thriller</h6>
				</li>
				<li>
					<img src="images/genres/western.png" alt="Western">
					<h6>Western</h6>
				</li>
				<li>
					<img src="images/genres/adventure.png" alt="Adventure">
					<h6>Adventure</h6>
				</li>
				<li>
					<img src="images/genres/animation.png" alt="Animation">
					<h6>Animation</h6>
				</li>
				<li>
					<img src="images/genres/documentary.png" alt="Documentary">
					<h6>Documentary</h6>
				</li>
			</ul>
			
			<div class="clearfix"></div>
			
			<div class="dashboard-container">
				<ul class="dashboard-sub-menu">
					<li class="current"><a href="#">All</a></li>
					<li><a href="/tv-trending" style="color: #ff4141">Trending</a></li>
					<li><a href="/seriesMovie">Available</a></li>
					<li><a href="/tv-topRated">Top Rated</a></li>
					<!-- <li><a href="#!">Now Playing</a></li> -->
				</ul><!-- close .dashboard-sub-menu -->
				
				<!-- <div style=" padding-right: 10px">	
					<ul class="dashboard-sub-menu">
						<li class="current"><a href="#"><h5 class="heading-extra-margin-bottom">All</h5></a></li>
						<li><a href="/seriesMovie"><h5 class="heading-extra-margin-bottom">Available</h5></a></li>
						<li><a href="/seriesMovie"><h5 class="heading-extra-margin-bottom">Trending</h5></a></li>
					</ul> -->
					<!-- close .dashboard-sub-menu -->
					
				
				
	
				<div class="row">
					<% data["results"].forEach(function(movie) { %>
						<div class="col-12 col-md-6 col-lg-4 col-xl-3">
						<div class="item-listing-container-skrn">
							<a href="/dashboard/<%= movie["id"] %>">
									<img src="http://image.tmdb.org/t/p/original<%= movie["poster_path"] %>"width="500" height="707" alt="Listing"> 
							</a>

							<div class=" item-listing-text-skrn">
								<div class=" item-listing-text-skrn-vertical-align">
									<h6>
										<a href="/dashboard/<%= movie["id"] %>">
											<strong>
												<!-- <%= movie["name"] %> -->
											</strong>
											<%= movie["first_air_date"] %>
										</a>
									</h6>
									<div class="circle-rating-pro" data-value="0.86" data-animation-start-value="0.86" data-size="30" data-thickness="2" data-fill="{ &quot;color&quot;: &quot;#42b740&quot;}" data-empty-fill="#def6de" data-reverse="true">
									<% if(movie["vote_average"] >= "5.0" ) { %>
									 <span style="color:#42b740;"><%= movie["vote_average"] %></span>								
									<% } else if(movie["vote_average"] < "5.0" ) { %>
									<span style="color:#ff4141;"><%= movie["vote_average"] %></span>
									<% } %>
								</div>
							</div>
								<!-- close . item-listing-text-skrn-vertical-align -->
							</div>
							<!-- close . item-listing-text-skrn -->
						</div>
						<!-- close .item-listing-container-skrn -->
					</div><!-- close .col -->


					<% }) %>	
						
			</div>
				<ul class="page-numbers">
					<li><a class="previous page-numbers" href="#!"><i class="fas fa-chevron-left"></i></a></li>
					<li><span class="page-numbers current">1</span></li>
					<li><a class="page-numbers" href="/dashboard-2">2</a></li>
					<li><a class="page-numbers" href="/dashboard-3">3</a></li>
					<li><a class="page-numbers" href="/dashboard-4">4</a></li>
					<li><a class="next page-numbers" href="#!"><i class="fas fa-chevron-right"></i></a></li>
				</ul>

				
				<div class="modal fade" id="postModal" tabindex="-1" role="dialog" aria-labelledby="postModal" aria-hidden="true">
					<button type="button" class="close float-close-pro" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
				 </button>
				 <div style="font-size: 62.5%; height: 100%;" class="modal-dialog modal-dialog-centered modal-md" role="document">
					 <div class="modal-content">
							<div class="demo">
							<div class="demo__content">
							  <h2 class="demo__heading">What do you need help with?</h2>
						<a href="https://tawk.to/chat/5d2dddc8bfcb827ab0cc0f50/default">
							<div class="demo__elems">
								<div class="demo__elem demo__elem-1">Subcription - Payment Complain</div>
								<div class="demo__elem demo__elem-2">Updating Personal Details</div>
								<div class="demo__elem demo__elem-3">Review - Special Request</div>
								<span class="demo__hover demo__hover-1"></span>
								<span class="demo__hover demo__hover-2"></span>
								<span class="demo__hover demo__hover-3"></span>
								<div class="demo__highlighter">
								  <div class="demo__elems">
									<div class="demo__elem">Subcription | Payment Complain</div>
									<div class="demo__elem">Updating Details</div>
									<div class="demo__elem">Review | Special Request</div>
								  </div>
								</div>
								<div class="demo__examples">
								  <div class="demo__examples-nb">
									<div class="nb-inner">
									  <div class="example example-adv">
										<div class="example-adv">
										  <div class="example-adv__top">
											<div class="example-adv__top-search"></div>
										  </div>
										  <div class="example-adv__mid"></div>
										  <div class="example-adv__line"></div>
										  <div class="example-adv__line long"></div>
										</div>
									  </div>
									  <div class="example example-web">
										<div class="example-web__top"></div>
										<div class="example-web__left"></div>
										<div class="example-web__right">
										  <div class="example-web__right-line"></div>
										  <div class="example-web__right-line"></div>
										  <div class="example-web__right-line"></div>
										  <div class="example-web__right-line"></div>
										  <div class="example-web__right-line"></div>
										  <div class="example-web__right-line"></div>
										</div>
									  </div>
									  <div class="example example-both">
										<div class="example-both__half example-both__left">
										  <div class="example-both__left-top"></div>
										  <div class="example-both__left-mid"></div>
										</div>
										<div class="example-both__half example-both__right">
										  <div class="example-both__right-top"></div>
										  <div class="example-both__right-mid"></div>
										</div>
									  </div>
									</div>
								  </div>
								</div>
							  </div>
							</a>
							</div>
						  </div>
						  <p style="font-size: 12px" class="check-out"><a href="/faqs" target="_blank"> or Visit - FAQ'S</a></p>
					 </div><!-- close .modal-content -->
				 </div><!-- close .modal-dialog -->
			 </div><!-- close .modal -->
			
						
			</div><!-- close .dashboard-container -->
		</main>

	<% include partials/script %>	
		<script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>		
		<!--Start of Tawk.to Script-->
	<script type="text/javascript">
	var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
	(function(){
	var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
	s1.async=true;
	s1.src='https://embed.tawk.to/5d2dddc8bfcb827ab0cc0f50/default';
	s1.charset='UTF-8';
	s1.setAttribute('crossorigin','*');
	s0.parentNode.insertBefore(s1,s0);
	})();
	</script>
	<!--End of Tawk.to Script-->
		
	</body>
</html>