<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/styleme.css" />
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link
      rel="stylesheet"
      href="http://fonts.googleapis.com/css?family=Lato:400,700%7CMontserrat:300,400,600,700"
    />
      <link
      rel="stylesheet"
      href="icons/fontawesome/css/fontawesome-all.min.css"
    />
    <!-- FontAwesome Icons -->
    <link
      rel="stylesheet"
      href="icons/Iconsmind__Ultimate_Pack/Line%20icons/styles.min.css"
    />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
      <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet">
      <link rel="stylesheet" href="/icons/fontawesome/css/fontawesome-all.min.css"><!-- FontAwesome Icons -->
      <link rel="stylesheet" href="/icons/Iconsmind__Ultimate_Pack/Line%20icons/styles.min.css"><!-- iconsmind.com Icons -->
  
    <!-- iconsmind.com Icons -->
      <!-- Page Title Here -->
  <link rel="icon" href="img/favicon.png" type="image/png">
            <title>
            tribal play | media
        </title>

    <style>

      .material-icons{
        font-size: 19px;
      }
      /* .bright_back {
        background: url("/images/demo/tom.jpg");
      } */

      .tomb_back {
        background: url("/images/demo/lara.png");
      }

      .ave_back {
        background: url("https://www.gannett-cdn.com/-mm-/c03fd140debe8ad4c05cf81a5cad7ad61a12ce52/c=0-1580-2985-3266&r=x803&c=1600x800/local/-/media/2017/06/09/USATODAY/USATODAY/636326272873599176-Black-Panther-Teaser.jpg");
      }
      #likes-count{
        color: #3db13d;
      }
    </style>
  </head>
  <body>
    <header id="masthead-pro">
      <div class="container">
        <h1>
          <a href="/"><img src="images/logo.png" width="120px" height="100px" alt="Logo"/></a>
        </h1>

        <nav id="site-navigation-pro">
          <ul class="sf-menu">
            <li class="normal-item-pro"><a href="/">Home</a></li>
            <li class="normal-item-pro current-menu-item">
              <a href="/charts">charts</a>
            </li>

            <li class="normal-item-pro">
              <a href="/newMovie" >New Releases</a>
            </li>
            <li class="normal-item-pro">
              <a href="/signup1">Pricing Plans</a>
            </li>
            <li class="normal-item-pro"><a href="/faqs">FAQs</a></li>
          </ul>
        </nav>

        <button
          class="btn btn-header-pro noselect"
          data-toggle="modal"
          data-target="#LoginModal"
          role="button"
        >
          Sign In
        </button>

        <div id="mobile-bars-icon-pro" class="noselect">
          <i class="fas fa-bars"></i>
        </div>

        <div class="clearfix"></div>
      </div>
      <!-- close .container -->

      <nav id="mobile-navigation-pro">
        <ul id="mobile-menu-pro">
          <li><a href="/">Home</a></li>
          <li> <a href="/newMovie" >New Releases</a>
          </li>
          <li><a href="/signup1">Pricing Plans</a></li>
          <li><a href="/faqs">FAQs</a></li>
        </ul>
        <div class="clearfix"></div>

        <button
          class="btn btn-mobile-pro btn-green-pro noselect"
          data-toggle="modal"
          data-target="#LoginModal"
          role="button"
        >
          Sign In
        </button>
      </nav>
    </header>
    <div class="clearfix"></div>
    <div class="dashboard-container">
      <br />
	<!-- Slider main container -->
<div class="swiper-container">
<!-- Additional required wrapper -->
<div class="swiper-wrapper">
  <!-- Slides -->
		<div class="swiper-slide">      
      <div class="pricing-table-pro">
          <div class="row">
                  <div class="col-sm">
                          <div class="pricing-table-col-shadow-pro item-listing-container-skrn">
                                  <a href="/newMovie"><img src="images/demo/artist.jpg" alt="Listing"></a>
                                  <!-- <a href="#"><h6 style="padding-top: 15px"></h6></a>  -->
                              </div><!-- close .item-listing-container-skrn -->
                  </div><!-- close .col-md-12 -->
                  <div class="col-sm">
                      <div class="pricing-table-col-shadow-pro item-listing-container-skrn">
                              <a href="/newMovie"><img src="images/demo/series.jpg" alt="Listing"></a>
                              <!-- <a href="#"><h6 style="padding-top: 15px"></h6></a> -->
                          </div><!-- close .item-listing-container-skrn -->
              </div><!-- close .col-md-12 -->
              <div class="col-sm">
                      <div class="pricing-table-col-shadow-pro item-listing-container-skrn">
                              <a href="/newMovie"><img src="images/demo/animations.jpg" alt="Listing"></a>
                              <!-- <a href="#"><h6 style="padding-top: 15px"></h6></a> -->
                          </div><!-- close .item-listing-container-skrn -->
              </div><!-- close .col-md-12 -->
              <div class="col-sm">
                      <div class="pricing-table-col-shadow-pro item-listing-container-skrn">
                              <a href="/newMovie"><img src="images/demo/movies.jpg" alt="Listing"></a>
                              <!-- <a href="#"><h6 style="padding-top: 15px"></h6></a> -->
                          </div><!-- close .item-listing-container-skrn -->
              </div><!-- close .col-md-12 -->
              <div class="col-sm">
                      <div class="pricing-table-col-shadow-pro item-listing-container-skrn">
                              <a href="/newMovie"><img src="images/demo/7.jpg" alt="Listing"></a>
                             <!-- <a href="#"><h6 style="padding-top: 15px"></h6></a> -->
                          </div><!-- close .item-listing-container-skrn -->
              </div><!-- close .col-md-12 -->
              <div class="col-sm">
                  <div class="pricing-table-col-shadow-pro item-listing-container-skrn">
                          <a href="/newMovie"><img src="images/demo/4.jpg" alt="Listing"></a>
                         <!-- <a href="#"><h6 style="padding-top: 15px"></h6></a> -->
                      </div><!-- close .item-listing-container-skrn -->
          </div><!-- close .col-md-12 -->
          <div class="col-sm">
              <div class="pricing-table-col-shadow-pro item-listing-container-skrn">
                      <a href="/newMovie"><img src="images/demo/5.jpg" alt="Listing"></a>
                     <!-- <a href="#"><h6 style="padding-top: 15px"></h6></a> -->
                  </div><!-- close .item-listing-container-skrn -->
      </div><!-- close .col-md-12 -->
      <div class="col-sm">
          <div class="pricing-table-col-shadow-pro item-listing-container-skrn">
                  <a href="/newMovie"><img src="images/demo/6.jpg" alt="Listing"></a>
                 <!-- <a href="#"><h6 style="padding-top: 15px"></h6></a> -->
              </div><!-- close .item-listing-container-skrn -->
  </div><!-- close .col-md-12 -->

          </div><!-- close .row -->
      </div><!-- close .pricing-table-pro -->
</div>
</div>
</div>
<br>
<br>

      <h4 style="text-align: center; color: #3db13d;" class="heading-extra-margin-bottom">
        Highly Rated
      </h4>
      <br>
      <div class="row">
      <div class="col-lg-9">
          <div class="row">
              <div class="col-sm-1" style="background-color: white">
                  <a href="/charts">  <h5 style="text-align: center; color: #777777;"> Position</h5> </a>
                </div>
                 <div class="col-sm-11" style="background-color: white">
                  <a href="/charts">  <h5 style="text-align: center; color: #777777;"> Top 50</h5> </a>
                </div>
            </div>

<!-- 
<div class="row">
  <div class="col-sm-1" style="background-color: white">
      <br>
  <br>
   <div style="align-content: center">
      <ul class="collapsible">
          <li>
              <i style="font-size: 70px; color:#3db13d " class="fa fa-sort-up"></i>
              <h1 style="align-content: center; padding-left: 10px">1</h1>
         </li> 
        
      </ul>

     
   </div>
  </div>
    <div class="col-sm-11">
        <div class="movie_card" style="background-image: url('uploads/movie-rating/tom.jpg');width: 98%;background-size: cover">
          <div class="info_section">
            <div class="movie_header">
              <img class="locandina" src="uploads/movie-rating/bright.jpg"/>
              <h1 style="color: black">Bright</h1>
              <h4>2017, David Ayer</h4>
              <span class="minutes">117 min</span>
              <p class="type" style="color: white">Action, Crime, Fantasy</p>
            </div>
            <div class="movie_desc">
							<br>
              <p class="text">
              </p>
            </div>
            <div class="movie_social">
              <ul>
                <li><i style="font-size: 21px;" class="material-icons">share</i></li>
                <li><i style="font-size: 21px" class="material-icons"></i></li>
                <li><i style="font-size: 21px" class="material-icons">chat_bubble</i></li>
                <li><i style="font-size: 21px" class="material-icons">play</i></li>
                <li><i style="font-size: 21px" class="material-icons">bookmark</i></li>
              </ul>
            </div>
          </div>
          <div class="blur_back bright_back"></div>
        </div>
      </div>  
</div> -->





<div class="row">

<% moviesratings.forEach(function(moviesrating){ %>
<div class="col-sm-1" style="background-color: white">
    <br>
<br>

<div style="align-content: center">
  <ul class="collapsible">
    <% if(moviesrating.present_position < moviesrating.previous_position){ %>
      <li>
        <i style="font-size: 70px; color:#3db13d " class="fa fa-sort-up"></i>
        <h1 style="align-content: center; padding-left: 10px"><%= moviesrating.present_position %></h1>
       </li> 
    <% } else if(moviesrating.present_position > moviesrating.previous_position) { %> 
      <br>
      <h1 style="align-content: center; padding-left: 10px"><%= moviesrating.present_position %></h1> 
      <i style="font-size: 70px; color:rgb(216, 66, 66) " class="fa fa-sort-down"></i>
    <% } else { %>   
      <br>
      <br>
      <h1 style="align-content: center; padding-left: 10px"><%= moviesrating.present_position %></h1>
      <% } %>   
    </ul>
 </div>
</div>

  <div class="col-sm-11">
      <div class="movie_card" style="background-image: url('<%= moviesrating.movie_poster %>');width: 98%;background-size: cover; opacity: 0.9;">
        <div class="info_section">
          <div class="movie_header">
            <img class="locandina" src="<%= moviesrating.image_path %>"/>
            <h1 style="color: black"><%= moviesrating.title %></h1>
            <h4><%= moviesrating.release_date %>, <%= moviesrating.director %></h4>
            <span class="minutes"><%= moviesrating.runtime %> min</span>
            <p class="type" style="color: white"><%= moviesrating.genre %></p>
          </div>
          <div class="movie_desc">
            <br>
            <p class="text">
            </p>
          </div>
          <div class="movie_social">
            <ul>
              <li><i style="font-size: 21px;" class="material-icons">share</i></li>

              <% if(user){ %>
              <li> <a onclick="like(moviesrating._id)" class="likeicon" data-post-id="<%= moviesrating.id %>" userId="<%= moviesrating._id %>" onclick="updateLikes()"> <i style="font-size: 21px" class="material-icons"></i></a><span id="likes-count-<%= moviesrating.id %>"><%= moviesrating.likes_count %></span></li>
              <% } else{ %>
              <li> <a  data-post-id="<%= moviesrating.id %>" userId="<%= moviesrating._id %>"> <i style="font-size: 21px" class="material-icons"></i></a><span id="likes-count-<%= moviesrating.id %>"><%= moviesrating.likes_count %></span></li>  
              <% } %>

              <!-- <button onclick="updateLikes()" data-post-id="<%= moviesrating.id %>">Like</button> -->
              <!-- <span id="likes-count-<%= moviesrating._id %>"><%= moviesrating.likes_count %></span> -->
             
              <!-- <li><a onclick="like(moviesrating._id)" onclick="actOnPost(event);" data-post-id="<%= moviesrating.id %>"><i style="font-size: 21px" class="material-icons"></i></a><span id="likes-count-<%= moviesrating.id %>"><%= moviesrating.likes_count %></span></li> -->
              <li><i style="font-size: 21px" class="material-icons">chat_bubble</i></li>
              <!-- <li><i style="font-size: 24px" class="far fa-arrow-alt-circle-up"></i></li><span><%= moviesrating.present_position %></span> -->
              <li><i style="font-size: 24px" class="material-icons">visibility</i></li>
              <!-- <li><i style="font-size: 21px" class="material-icons">play</i></li> -->
              <li><i style="font-size: 21px" class="material-icons">bookmark</i></li>
              <!-- <button id="myButton">Click me!</button> -->

              <!-- <li><button onclick="actOnPost(event);"data-post-id="<%=  %>"><li><i style="font-size: 21px" class="material-icons"></i></button><span><%=  %></span></li> -->
           
              <!-- <button onclick="actOnPost(event);"data-post-id="<%= moviesrating._id %>">Like</button><span id="likes-count-<%= moviesrating._id %>"><%= moviesrating.likes_count %></span>            -->
            </ul>
          </div>
        </div>
        <div class="blur_back bright_back"></div>
      </div>
    </div>  
    <!-- <%= moviesrating._id %> -->
<% }) %>  
</div>

  <!-- <%= moviesratings._id %> -->

      </div>
      
      <!-- col-lg-8-closing			 -->
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>

      <div class="col-lg-3">
        <div class="blog_right_sidebar">
            <aside class="single_sidebar_widget search_widget">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search Posts">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                    </span>
                </div><!-- /input-group -->
                <div class="br"></div>
            </aside>
            <a class="movie-detail-media-link afterglow" href="">
              <div class="movie-detail-media-image">
                <img src="images/demo/zachary-shea-577599-unsplash.jpg">
                <span><i class="fas fa-play"></i></span>
                <h6>Movie Stills</h6>
              </div>
            </a>

            <!-- <aside class="single_sidebar_widget author_widget">
              
              <a href="#"><img class="img-fluid" src="img/blog/author.jpg" alt=""></a>
              <span><i class="fas fa-play"></i></span>
                <h4>Follow on Social Media</h4>
                <p>Senior blog writer | Developer</p>
                <div class="social_icon">
                    <a href="facebook.com/fagbolagbenga"><i style="font-size: 17px" class="fa fa-facebook"></i></a>
                    <a href="twiter.com/holard_rheal"><i style="font-size: 17px" class="fa fa-twitter"></i></a>
                    <a href="github.com/fagbolaoluwagbenga"><i style="font-size: 17px" class="fa fa-github"></i></a>
                    <a href="#"><i style="font-size: 17px" class="fa fa-instagram"></i></a>
                    <a href="#"><i style="font-size: 17px" class="fa fa-behance"></i></a>
                </div>
                <div class="br"></div>
            </aside> -->
            <aside style="color: white" class="popular_post_widget">
                <!-- <h3 style="color: #3db13d" class="widget_title">Popular Posts</h3> -->
                <br>
                <br>
                <h4 style="color: #3db13d; text-align: center">Popular Categories</h4>
                
                <div class="media post_item">
                    <img src="img/blog/popular-post/post1.jpg" alt="post">
                    <div class="media-body">
                        <a href="#"><h3>Best love scence</h3></a>
                        <p>02 Hours ago</p>
                    </a>
                    </div>
                </div>
                <div class="media post_item">
                    <a href="/categories">
                    <img src="img/blog/popular-post/post2.jpg" alt="post">
                    <div class="media-body">
                        <a href="#"><h3>Most Amazing kill</h3></a>
                        <p>02 Hours ago</p>
                        </a>
                    </div>
                </div>
                <div class="media post_item">
                    <img src="img/blog/popular-post/post3.jpg" alt="post">
                    <div class="media-body">
                        <a href="#"><h3>Best Death scene</h3></a>
                        <p>03 Hours ago</p>
                    </div>
                </div>
                <div class="media post_item">
                    <img src="img/blog/popular-post/post4.jpg" alt="post">
                    <div class="media-body">
                        <a href="#"><h3>Most Amazing Stunts</h3></a>
                        <p>01 Hours ago</p>
                    </div>
                </div>
                <div class="br"></div>
            </aside>
            <!-- <aside class="single_sidebar_widget ads_widget">
                <a href="#"><img class="img-fluid" src="img/blog/add.jpg" alt=""></a>
                <div class="br"></div>
            </aside> -->
            <!-- <aside class="single_sidebar_widget post_category_widget">
              <h4 style="color: #3db13d; text-align: center">Popular Categories</h4>  
               <h4 class="widget_title">Post Catgories</h4> 
                <ul class="list cat-list">
                    <li>
                        <a href="#" class="d-flex justify-content-between">
                            <p>Technology</p>
                            <p>37</p>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="d-flex justify-content-between">
                            <p>Lifestyle</p>
                            <p>24</p>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="d-flex justify-content-between">
                            <p>Fashion</p>
                            <p>59</p>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="d-flex justify-content-between">
                            <p>Art</p>
                            <p>29</p>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="d-flex justify-content-between">
                            <p>Food</p>
                            <p>15</p>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="d-flex justify-content-between">
                            <p>Architecture</p>
                            <p>09</p>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="d-flex justify-content-between">
                            <p>Adventure</p>
                            <p>44</p>
                        </a>
                    </li>															
                </ul>
                <div class="br"></div>
            </aside> -->

            <!-- <aside class="single-sidebar-widget newsletter_widget">
                <h4 class="widget_title">Newsletter</h4>
                <p>
                Subscribe to our news letter 
                </p>
                <div class="form-group d-flex flex-row">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                        </div>
                        <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Enter email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email'">
                    </div>
                    <a href="#" class="bbtns">Subcribe</a>
                </div>	
                <p class="text-bottom">You can unsubscribe at any time</p>	
                <div class="br"></div>							
            </aside> -->
            <aside class="single-sidebar-widget tag_cloud_widget">
                <!-- <h4 class="widget_title">Tag Clouds</h4> -->
                <h4 style="color: #3db13d; text-align: center">Tag Clouds</h4>
                <ul class="list">
                    <li><a href="#">Tech</a></li>
                    <li><a href="#">animation</a></li>
                    <li><a href="#">Awards</a></li>
                    <li><a href="#">raiting</a></li>
                    <li><a href="#">movies</a></li>
                    <li><a href="#">series</a></li>
                    <li><a href="#">Documentry</a></li>
                    
                </ul>
            </aside>
        </div>
    </div><!-- col-lg-4-closing	 -->
  </div><!-- row-closing -->

  <ul class="page-numbers">
      <li><a class="previous page-numbers" href="#!"><i class="fas fa-chevron-left"></i></a></li>
      <li><span class="page-numbers current">1</span></li>
      <li><a class="page-numbers" href="#!">2</a></li>
      <li><a class="page-numbers" href="#!">3</a></li>
      <li><a class="page-numbers" href="#!">4</a></li>
      <li><a class="next page-numbers" href="#!"><i class="fas fa-chevron-right"></i></a></li>
    </ul>


 </div> <!-- dashboard-container-closing -->



 <footer id="footer-pro">
    <div class="container">
      <div class="row">
        <div class="col-md">
          <a href="/faqs"><div class="copyright-text-pro">&copy;  Copyright 2020  Tribal Play</a>.</div>
        </div><!-- close .col -->
        <div class="col-md">
          <ul class="social-icons-pro">
            <li class="facebook-color"><a href="# " target="_blank"><i style="font-size: 17px" class="fa fa-facebook-f"></i></a></li>
            <li class="twitter-color"><a href="#" target="_blank"><i style="font-size: 17px" class="fa fa-twitter"></i></a></li>
            <li class="youtube-color"><a href="# " target="_blank"><i style="font-size: 17px" class="fa fa-youtube"></i></a></li>
            <li class="vimeo-color"><a href="# " target="_blank"><i style="font-size: 17px" class="fa fa-vimeo-v"></i></a></li>
          </ul>
        </div><!-- close .col -->
      </div><!-- close .row -->
    </div><!-- close .container -->
  </footer>



    <!-- Modal -->
    <div
      class="modal fade"
      id="LoginModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="LoginModal"
      aria-hidden="true"
    >
      <button
        type="button"
        class="close float-close-pro"
        data-dismiss="modal"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="modal-dialog modal-dialog-centered modal-md" role="document">
        <div class="modal-content">
          <div class="modal-header-pro">
            <h2>Welcome Back</h2>
            <h6>Sign in to your account to continue using Tribal Play</h6>
          </div>
          <div class="modal-body-pro social-login-modal-body-pro">
            <div class="registration-social-login-container">
              <form action="/login" method="POST">
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    id="username"
                    name="username"
                    placeholder="Username"
                  />
                </div>
                <div class="form-group">
                  <input
                    type="password"
                    class="form-control"
                    id="password"
                    name="password"
                    placeholder="Password"
                  />
                </div>
                <div class="form-group">
                  <button
                    type="submit"
                    class="btn btn-green-pro btn-display-block"
                  >
                    Sign In
                  </button>
                </div>
                <div class="container-fluid">
                  <div class="row no-gutters">
                    <div class="col checkbox-remember-pro">
                      <input type="checkbox" id="checkbox-remember" /><label
                        for="checkbox-remember"
                        class="col-form-label"
                        >Remember me</label
                      >
                    </div>
                    <div class="col forgot-your-password">
                      <a href="/forgot">Forgot your password?</a>
                    </div>
                  </div>
                </div>
                <!-- close .container-fluid -->
              </form>

              <div class="registration-social-login-or">or</div>
            </div>
            <!-- close .registration-social-login-container -->

            <div class="registration-social-login-options">
              <h6>Sign in with your social account</h6>
              <div class="social-icon-login facebook-color">
                <i class="fa fa-facebook-f"></i> Facebook
              </div>
              <div class="social-icon-login twitter-color">
                <i class="fa fa-twitter"></i> Twitter
              </div>
              <div class="social-icon-login google-color">
                <i class="fa fa-google-plus-g"></i> Google
              </div>
            </div>
            <!-- close .registration-social-login-options -->

            <div class="clearfix"></div>
          </div>
          <!-- close .modal-body -->

          <a class="not-a-member-pro" href="/signup1">Not a member? <span>Join Today!</span></a>
        </div>
        <!-- close .modal-content -->
      </div>
      <!-- close .modal-dialog -->
    </div>
    <!-- close .modal -->
   

<script>
   $(".likeicon").on('click', function(){
  if($(this).css("color") === "rgb(0, 0, 255)"){
  $("#likedtxt").remove();
  $(this).css("color", "black");
  $(this).animate({fontSize: "15px"});


} else {
  $(this).css("color", "blue");
  $(this).append("<span id='likedtxt'>Liked</span>");
  $(this).animate({fontSize: "18px"});
}  
});
  // function like(id){
  //   $.post("movie/"+id)
  // }

    function updateLikes() {
    var id = $('.likeicon').attr('userId');
    console.log(id,"this is the movie id");
    id = '';
    $.post('/charts-movie/' + id, function (response) {
      console.log(response)
        $('material-icons').text(response.likeCount); //your counter on a page
        //and update likes counter with response
    })
}
</script>
  
<script>
      var updatePostStats = {
          Like: function (postId) {
              document.querySelector('#likes-count-' + postId).textContent++;
          },
          Unlike: function(postId) {
              document.querySelector('#likes-count-' + postId).textContent--;
          }
      };
      
      // var toggleButtonText = {
      //     Like: function(button) {
      //         button.textContent = "Unlike";
      //     },
      //     Unlike: function(button) {
      //         button.textContent = "Like";
      //     }
      // };
  
      var actOnPost = function (event) {
          var postId = event.target.dataset.postId;
          var action = event.target.textContent.trim();
          toggleButtonText[action](event.target);
          updatePostStats[action](postId);
          axios.post('/posts/' + postId + '/act', { action: action });
      };
</script>

<script>

  document.addEventListener('DOMContentLoaded', function() {
var elems = document.querySelectorAll('.carousel');
var instances = M.Carousel.init(elems, options);
});

// Or with jQuery


  var swiper = new Swiper('.swiper-container', {
    slidesPerView: 1,
    spaceBetween: 500,
    slidesPerGroup: 1,
    loop: true,
    loopFillGroupWithBlank: true,
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
  });

function myFunction() {
var dots = document.getElementById("dots");
var moreText = document.getElementById("more");
var btnText = document.getElementById("myBtn");

if (dots.style.display === "none") {
dots.style.display = "inline";
btnText.innerHTML = "Read more"; 
moreText.style.display = "none";
} else {
dots.style.display = "none";
btnText.innerHTML = "Read less"; 
moreText.style.display = "inline";
}
}
</script>

   
        <!-- <script src="https://js.pusher.com/4.1/pusher.min.js"></script> -->

        <!-- <script src="js/libs/like.js" defer></script> -->
        <!-- Bootstrap Main JS -->

        <!-- Required Framework JavaScript -->
    <script src="js/libs/jquery-3.3.1.min.js"></script><!-- jQuery -->
    <script src="js/libs/popper.min.js" defer></script><!-- Bootstrap Popper/Extras JS -->
    <script src="js/libs/bootstrap.min.js" defer></script><!-- Bootstrap Main JS -->
    <!-- All JavaScript in Footer -->

    <!-- Additional Plugins and JavaScript -->
    <script src="js/navigation.js" defer></script><!-- Header Navigation JS Plugin -->
    <script src="js/jquery.flexslider-min.js" defer></script><!-- FlexSlider JS Plugin -->
    <script src="js/script.js" defer></script><!-- Custom Document Ready JS -->
  </body>
</html>
